/* a:link, a:visited {
    background-color: #f44336;
    color: white;
    text-align: center;
    margin: 5px;
    float: right;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
  } */
  .size{
    padding-top: 10px;
    padding-bottom: 10px;
      font-size: 20px;
  }
  @media (max-width: 768px) {
    .float-right-sm {
      float: right;
    }
  }
  @media (max-width: 768px) {
    .float-left-sm {
      float: left;
    }
  }
  .form-width{
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
   padding-top: 10%;
}
.emailId{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.password{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.submit{
    width: 30%;
    background-color: green;
    color: white;
    padding: 14px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
  }